
<!DOCTYPE html>
<!--{% load static %}-->

<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Welcome to the world of Knowledge!</title>
</head>
<body>
<div style="padding: 60px;text-align: center;background: #D3D3D3;color: black;font-size: 30px;" class="header">
<h1 id="test">Welcome to the world of Knowledge!</h1>
<p>Your Super cool Store!</p>
</div>


<div class="wrapper">
  <div class="cards_wrap">
    <div class="card_item">
      <div class="card_inner">
        <div class="card_top">
          <img src="https://images-na.ssl-images-amazon.com/images/I/41ybG235TcL._SX329_BO1,204,203,200_.jpg" alt="car" />
        </div>
        <div class="card_bottom">
          <div class="card_category">
            The Alchemist
          </div>
          <div class="card_info">
            <p class="title">{{ qs.name }}</p>
            <p>
The Alchemist by Paulo Coelho continues to change the lives of its readers forever. With more than two million copies sold around the world,
            </p>
          </div>
          <div class="card_creator">
            By  Paulo Coelho
          </div>
        </div>
      </div>
    </div>
    <div class="card_item">
      <div class="card_inner">
        <div class="card_top">
          <img src="https://images-na.ssl-images-amazon.com/images/I/51j8IiHZUtL._SX329_BO1,204,203,200_.jpg" alt="car" />
        </div>
        <div class="card_bottom">
          <div class="card_category">
            Atomic Habits
          </div>
          <div class="card_info">
            <p class="title">Atomic Habits: An Easy & Proven Way to Build Good Habits & Break Bad Ones Hardcover – October 16, 2018</p>
            <p>
              Tiny Changes, Remarkable Results
No matter your goals, Atomic Habits offers a proven framework for improving--every day. James Clear, one of the world's leading experts on habit formation, reveals practical strategies that will teach you exactly how to form good habits, break bad ones, and master the tiny behaviors that lead to remarkable results.
            </p>
          </div>
          <div><h3>Price:249</h3></div>
          <div class="card_creator">
            By James Clear
          </div>
        </div>
      </div>
    </div>

  </div>
</div>



<div style="  position: relative;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #D3D3D3;
  color: black;
  " class="Footer">
    <div style="text-align: left;">
    <h1 >Contact Us!</h1>
    <h3>7217612792</h3>
            </div>
</div>
<div class=”Header”>
 <h3 class=”Heading”>Shopping Cart</h3>
 <h5 class=”Action”>Remove all</h5>
 </div>

</body>


</html>